#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

:root {
  color: rgb(215, 201, 201);
  background-color: rgb(39, 86, 29);
  --stem-color: #70ce60;
}

div .sidebar {
  margin: 0 2em;
  padding: 0 1em;
  display: flex;
  min-width: 300px;
  height: 500px;
  overflow: auto;
  background-color: rgba(12, 0, 46, 0.1);
  border-radius: 1em;
  padding: 0.5em 1em;
}

div .buttonPane {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

div .stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div .log {
  display: flex;
  flex-direction: column-reverse;
}

div .logLine {
  display: flex;
  justify-content: left;
}

div .fieldContainer {
  display: flex;
  flex-direction: column;
}

div .field {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3px;
  font-size: 2em;
  clear: bottom;
}

div .plot {
  background-color: #4e2814;
  aspect-ratio: 1;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

div .plotInfo {
  color: rgb(229, 228, 228);
  font-size: small;
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div .plotAge {
  color: rgb(94, 179, 77);
  font-size: small;
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: 600;
}

div .plotState {
  z-index: 10;
}

div .stem {
  position: absolute;
  border-left: 3px var(--stem-color) dotted;
  border-bottom: 3px var(--stem-color) dotted;
  inset-block-start: 55px;
  z-index: 5;
}

div .stemUp {
  inset-block-start: -50px;
  height: 100px;
}

div .stemWrapUp {
  inset-block-start: -3px;
  height: 45px;
}

div .stemFragmentDown {
  inset-block-start: 470px;
  height: 38px;
}

div .stemDown {
  inset-block-start: 50px;
  height: 100px;
}

div .stemWrapDown {
  height: 40px;
}

div .stemFragmentUp {
  inset-block-start: -415px;
  height: 40px;
}

div .stemLeft {
  inset-inline-start: -55px;
  width: 100px;
}

div .stemWrapLeft {
  inset-inline-start: 0;
  width: 40px;
}

div .stemFragmentRight {
  inset-inline-start: 460px;
  width: 50px;
}

div .stemRight {
  inset-inline-start: 50px;
  width: 100px;
}

div .stemWrapRight {
  inset-inline-start: 50px;
  width: 50px;
}

div .stemFragmentLeft {
  inset-inline-start: -410px;
  width: 50px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
a:hover {
  color: #747bff;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  margin: 0.5em 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(227, 233, 222, 0.9);
  color: #332d36;
  font-weight: 600;
}
button:hover {
  border-color: #b6a064;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  font: inherit;
  margin: 0.5em;
}

input[type=number] {
  height: 2.5em;
}
